//backgrounds
$nav-bg: #FFFFFF;
$nav-item-bg: #FFFFFF;
$burger-bg: #000000;
$header-intro-bg: #F9F9F9;
$header-catalog-item-bg: #63D1BB;
$header-catalog-item-2n-bg: #56C3B2;

//backgrounds-conditions


//сolors
$logo-color: #000000;
$nav-link-color: #000000;
$header-catalog-name-color: #FFFFFF;
$header-catalog-icon-color: #149080;

//сolors-conditions


// colors: borders and shadows
$nav-shadow: #ECECEC;
$header-intro-shadow: #ECECEC;


//devices
$mobile: 320px;
$tablet: 768px;
$desktop: 1150px;

//fonts
$basic-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;