.logo {
    padding: 22px;

    @include media($tablet) {
        position: absolute;
        top: 0;
        left: 28px;
        z-index: 3;
    }

    @include media($desktop) {
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.logo:hover .logo__mobile {
    @include media($desktop) {
        opacity: 0.6;
    }
}

.logo:active .logo__mobile {
    opacity: 0.3;
}

.logo__mobile {
    width: 86px;
    height: 35px;

    @include media($tablet) {
        width: 113px;
        height: 46px;
    }

    @include media($desktop) {
        width: 149px;
        height: 72px;
    }
}